@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans:
    Figtree, IBM Plex Sans JP, ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-cursive: 'Caveat', cursive;

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
}

@theme {
  --animate-push-left: slide-in-left 0.3s ease-in-out;
  --animate-pop-left: slide-out-left 0.3s ease-in-out;
  --animate-push-none: none;
  --animate-pop-none: none;

  @keyframes slide-in-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slide-out-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

:root {
  --radius: 0.5rem;

  --background: oklch(1 0 0);
  --foreground: oklch(0.2 0.01 20);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2 0.01 20);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2 0.01 20);

  --primary: oklch(0.828 0.189 84.429);
  --primary-foreground: oklch(0.98 0.005 60);

  --secondary: oklch(0.841 0.238 128.85);
  --secondary-foreground: oklch(0.25 0.02 24);
  --muted: oklch(0.96 0.01 60);
  --muted-foreground: oklch(0.45 0.01 25);
  --accent: oklch(0.96 0.01 60);
  --accent-foreground: oklch(0.25 0.02 24);
  --destructive: oklch(0.55 0.15 0);
  --destructive-foreground: oklch(0.98 0.005 60);
  --border: oklch(0.95 0 0);
  --input: oklch(0.9 0.01 20);
  --ring: oklch(0.2 0.01 20);
  --chart-1: oklch(0.65 0.15 12);
  --chart-2: oklch(0.5 0.1 173);
  --chart-3: oklch(0.3 0.05 197);
  --chart-4: oklch(0.7 0.15 43);
  --chart-5: oklch(0.7 0.2 27);
}

.dark {
  --background: oklch(0.2 0.01 20);
  --foreground: oklch(0.98 0.005 60);
  --card: oklch(0.2 0.01 20);
  --card-foreground: oklch(0.98 0.005 60);
  --popover: oklch(0.2 0.01 20);
  --popover-foreground: oklch(0.98 0.005 60);

  --primary: oklch(0.98 0.005 60);
  --primary-foreground: oklch(0.25 0.02 24);

  --secondary: oklch(0.2 0.02 12);
  --secondary-foreground: oklch(0.98 0.005 60);
  --muted: oklch(0.2 0.02 12);
  --muted-foreground: oklch(0.65 0.01 24);
  --accent: oklch(0.2 0.02 12);
  --accent-foreground: oklch(0.98 0.005 60);
  --destructive: oklch(0.3 0.1 0);
  --destructive-foreground: oklch(0.98 0.005 60);
  --border: oklch(0.2 0.02 12);
  --input: oklch(0.2 0.02 12);
  --ring: oklch(0.83 0.01 24);
  --chart-1: oklch(0.55 0.15 220);
  --chart-2: oklch(0.5 0.1 160);
  --chart-3: oklch(0.6 0.2 30);
  --chart-4: oklch(0.65 0.15 280);
  --chart-5: oklch(0.6 0.2 340);
}
