#!/usr/bin/env bash

# SSH設定を準備
mkdir -p ~/.ssh
echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
chmod 600 ~/.ssh/id_rsa

# ホストキー検証をスキップ
echo "StrictHostKeyChecking no" >> ~/.ssh/config

# ビルド済みのアプリケーションを転送
rsync -e "ssh -o StrictHostKeyChecking=no" -az --delete \
    --rsync-path="sudo rsync" \
    --exclude=".env" \
    --exclude="node_modules" \
    --exclude=".git" \
    ./ $DEPLOY_USER@$DEPLOY_SERVER:/var/www/html/decopon \
    > /dev/null

# サーバー上での設定とデプロイ
ssh $DEPLOY_USER@$DEPLOY_SERVER << EOF
    sudo chown -R ec2-user:nginx /var/www/html/decopon
    sudo chmod -R 775 /var/www/html/decopon/bootstrap/cache
    sudo chmod -R 775 /var/www/html/decopon/storage
    cd /var/www/html/decopon
    php artisan migrate --force
    php artisan db:seed --force
    php artisan config:cache
    php artisan route:cache
    php artisan view:cache
    sudo systemctl restart nginx # 必要に応じてサーバー再起動
EOF
