# SeaOrm configuration
AXUM_DATABASE_URL="sqlite://../database/db.sqlite?mode=rwc"

# JWT secret
AXUM_JWT_SECRET="your_jwt_secret"

# smtp server configuration
AXUM_SMTP_SERVER="smtp.example.com"
AXUM_SMTP_USERNAME="your_smtp_username"
AXUM_SMTP_PASSWORD="your_smtp_password"

# Mail configuration
AXUM_MAIL_FROM_NAME="Your Name"
AXUM_MAIL_FROM_EMAIL="yourname@example.com"

# Mock email for testing
AXUM_MOCK_EMAIL="test@example.com"

# Tracing configuration
RUST_LOG="info,decopon_axum=trace,axum=info,tower_http=info,hyper=warn"
